body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
}

h2 {
    color: #333;
}

input, select, button {
    padding: 8px;
    width: 250px;
}

button {
    background: #2c7be5;
    color: white;
    border: none;
}
